[2016-12-16 16:23] jlopezfisica opened #1 "The title overlap with the README.md"
I added a README.md to my git-hub repository but the content of my README.md overlap the title. The title is just the name of my repo

[2016-12-27 12:35] valters commented on #1
@jlopezfisica can you post a screenshot (of your browser window) with the issue?

[2017-01-19 04:49] cooperkong opened #6 "Page build failure"
Hi
I got this error when setting up github pages with this theme,
the email I got doesn't have any description related with the failure.
I just change the default theme to 'jekyll-theme-minimal', it builds fine when switch back to 'minima' theme.
Thanks.

[2017-01-19 16:37] benbalter commented on #6
@cooperkong we're not able to provide individual support in this forum. Can you please [contact GitHub support](https://github.com/contact) who should be able to help get your issue resolved?

[2017-01-19 16:37] #6 closed

[2017-03-13 04:15] stangri opened #7 "include ToC in header"
Thank you for a wonderful theme!

is there an easy way to include ToC inside the header (left side) of the layout? I was hoping I could enable it via a variable, but looking at https://github.com/pages-themes/minimal/blob/master/_layouts/default.html it doesn't seem possible without modifying the layout HTML which I'm very uncomfortable with.

Thanks!

[2017-03-13 13:26] benbalter commented on #7
You can override the default layout by following [these instructions](https://github.com/pages-themes/minimal#layouts).

[2017-03-13 16:10] stangri commented on #7
Well, overriding/modifying layout and learning how to auto-build ToC is what I wanted to avoid. ;)
Would it be outside of scope of this theme to auto-build ToC in the header?

[2017-04-21 12:28] mgifford opened #10 "Accessibility Problems"
There are some accessibility problems with this theme.

1) the language of the page should be provided.
2) there are color contrast issues

Maybe this should be reported here though https://github.com/orderedlist/minimal

Not sure.

[2017-04-21 14:10] benbalter commented on #10
Can you be more specific?

Can you be more specific? As a dedicated meta tag? As a property on the HTML element? In a human readable way? Someplace else?

[2017-04-21 15:32] benbalter commented on #10
http://webaim.org/standards/wcag/checklist#sc3.1.1

Gotcha. That was my question. Thanks for teaching a :man: to :fish:. Will get a PR going right now. Simple enough to implement. It sounds like we should do this across all our themes?

[2017-04-21 16:40] mgifford commented on #10
I've only tested these two, but yes..  Having this across the board will help.

Particularly as governments start using Pages I do think it will be useful to have the templates follow solid accessibility practices.

[2017-04-21 16:47] benbalter commented on #10
I have a script and will make the change across all the theme repos right now.

[2017-04-21 17:02] mgifford commented on #10
That's great.

Some links on focus (and hover):
http://www.washington.edu/accessibility/checklist/focus/
https://www.deque.com/blog/give-site-focus-tips-designing-usable-focus-indicators/

Keyboard accessibility is often forgotten as it isn't easily caught by automated tools.

[2017-04-21 17:37] benbalter commented on #10
Fixed via https://github.com/pages-themes/minimal/commit/2246632561e692e380cd60c3aaa9ae47092453c4 and similar commits to all the Pages themes. Thanks for the heads up! :smile:

[2017-04-21 17:37] #10 closed

[2017-04-21 17:39] mgifford commented on #10
Hey, that's amazing..  Like I tell folks, it is always worth looking to the source of the problem.  Getting these templates fixed here will end up benefiting millions of web pages over time.

Thanks for pushing these changes through (across the board) and doing so in a way that makes for a very compelling story about open-source approaches to addressing accessibility problems.

[2017-05-19 10:43] Dobby233Liu opened #12 "GitHub Pages issues: Unable use /xxx.md View themed Markdown"
A ****Example**** : [404.md](https://dobby233liu.github.io/404.md)

[2017-05-19 10:46] Dobby233Liu commented on #12
A images
![screenshot_2017-05-19-18-43-51](https://cloud.githubusercontent.com/assets/28653235/26244695/6b441916-3c56-11e7-8029-dbd55c409db8.png)

[2017-06-10 22:50] Jmuccigr opened #13 "Page title in default layout"
The page title seems a bit long with the combination of the site title and its author (which requires github btw). Would it make sense to shorten it by eliminating the author info? This would leave it:

<title>{{ site.title | default: site.github.repository_name }}</title>

[2017-06-10 22:57] Jmuccigr opened #14 "post layout?"
Any reason for the lack of post layout?

I've just started to use the theme (thanks!) and for posts have removed the title above the content, and put the page title in the header (which I've added to the _config.yml).

[2017-06-12 15:00] benbalter commented on #14
Minimal was intended as a minimal Jekyll theme, and as such, doesn't have support for Posts out of the box, only Pages.

[2017-06-13 03:47] Jmuccigr commented on #14
I was thinking more of minimal in the sense of the style, rather than the support of different kinds of documents.

So no interest in taking PRs then?

[2017-06-13 13:30] benbalter commented on #12
https://dobby233liu.github.io/404.html renders for me as expected.

[2017-07-29 02:30] fwextensions opened #15 "Support for favicons"
I've already overridden the `default.html` to add a `<link rel="shortcut icon"...`, but it would be nice if the theme came with support for a favicon out of the box.  Perhaps a `favicon` key could be added to the `_config.yml` to specify a path to the image asset.

[2017-07-29 20:09] sbromberger opened #16 "Check to see whether page is an organization page"
In https://github.com/pages-themes/minimal/blob/c827e10a73ef8c75e99b34923c38cc1273d40713/_layouts/default.html#L20-L26, the code checks to see whether the page is a user page or project page. However, organization pages should also be checked (and should minimally be treated like project pages).

[2017-07-31 15:16] benbalter commented on #16
@sbromberger would you be interested in submitting a pull request with that functionality?

[2017-07-31 15:20] sbromberger commented on #16
@benbalter I'd be able to do it later this week, probably. Just to confirm - is there a variable equivalent to `site.github.is_user_page` that applies to organizations? (I'm not even sure where these vars are coming from.)

[2017-07-31 15:25] benbalter commented on #16
See https://help.github.com/articles/repository-metadata-on-github-pages/. It may not be possible with the metadata currently exposed.

[2017-09-21 16:39] pavelkryukov commented on #16
Can we check the size of "organization_members" field? If it is 1, we use "View My GitHub Profile", "View Our GitHub Profile" otherwise.

[2017-10-24 14:58] benbalter commented on #14
@Jmuccigr Please, if you're interested, I'd be happy to review a PR.

[2017-10-24 14:58] benbalter commented on #13
@Jmuccigr the title is set by https://github.com/jekyll/jekyll-seo-tag. If you'd like to modify the title, it'd be best to submit a pull request upstream.

[2017-10-24 14:58] #13 closed

[2017-10-24 14:58] Jmuccigr commented on #14
Let me dig it up. :-)

[2017-10-25 12:18] #12 closed

[2017-10-27 17:52] Jmuccigr commented on #13
@benbalter Thanks for the suggestion. I've taken a look, but it's not clear to me where this is set over in the other project. Could you lend me another assist? TIA.

[2017-10-27 18:01] benbalter commented on #13
https://github.com/jekyll/jekyll-seo-tag/blob/master/lib/jekyll-seo-tag/drop.rb#L43-L54

[2017-10-28 06:45] DyingEcho opened #19 "There should be a way to add lists in the sidebar"
If I want to put a unordered list like this in the sidebar:

![screen shot 1](https://user-images.githubusercontent.com/19980290/32132019-e1b58078-bbbb-11e7-9a29-aab55cfaba4b.png)

I get something like this:

![screen shot 2](https://user-images.githubusercontent.com/19980290/32132030-0e16e5d0-bbbc-11e7-8a24-b95b7ec4833a.png)

I believe this is because of minimal's special treatment of lists in th

[2017-11-09 17:04] giacman opened #21 "Unable settin up theme"
Hello,

I'm trying to preview my site locally and eventually publish it on my github page.

I'm following documentation: I have added `theme: jekyll-theme-minimal` to my _config.yml file, and I have added `gem "github-pages", group: :jekyll_plugins` to my Gemfile.

I am now able to run locally with `bundle exec jekyll serve` but the website still has the base Jekyll theme. Also I have merged on gi

[2017-11-09 17:27] benbalter commented on #21
@giacman We can't speak to the specifics of your local setup. If you [contact GitHub support](https://github.com/contact) they should be able to help you get things straightened out.

[2017-11-09 17:27] #21 closed

[2017-12-05 16:05] akhilesh-k opened #25 "Adding image in github page."
Is inline style supported in minimal. It is just showing the alt text!

[2017-12-27 17:13] Jmuccigr commented on #14
OK, finally did this: #26.

[2017-12-30 15:53] #16 closed

[2017-12-30 15:53] #15 closed

[2017-12-30 15:53] #7 closed

[2017-12-30 15:53] #1 closed

[2018-01-05 14:48] #19 closed

[2018-02-10 17:21] #25 closed

[2018-02-17 16:11] makrandgupta commented on #14
I believe now is a good time to close this issue

[2018-02-17 16:13] Jmuccigr commented on #14
So it would seem.

[2018-02-17 16:13] #14 closed

[2018-03-08 17:50] amazein opened #27 "Menu list items - How do I increase vertical space between list items?"
How do I increase vertical space between list items in the menu?
Thank you

[2018-03-23 08:53] pevogam opened #28 "Configuring package download options"
Hi! At the present the three options for package downloading are directly hardcoded into the HTML layout and the third one of them is repetitive with "View on Github". Do you think it could be easily extendable to any three options (button texts and links) we would like to add? They can still be three in order to obey the overall layout so there is no need to make anything other than the texts and

[2018-04-15 12:07] earcos opened #31 "A more semantic nav menu"
Hi 😄

Just a small suggestion. Shouldn't the nav manu on the sidebar be more semantic using unordered lists instead of `<p>`'s? Should be simple enough to use a class for naviation purposes

Thanks a lot for your work!!

[2018-04-16 14:55] benbalter commented on #31
@earcos glad to review a pull request if you're interested in taking this on.

[2018-04-24 18:33] jonnyfrazer opened #32 "adding email or twitter link below "View My GitHub Profile""
I'm using this very nice theme but I obtained it via the "change theme" option in the GitHub pages section of settings. This means that I only seem to have access to README.md and _config.yml. Perhaps because of this, or perhaps because I simply have no idea what I'm doing, I'm having some trouble with customising the website.

Is there a way to add more links below "View My GitHub Profile" on the

[2018-04-25 18:51] jonnyfrazer commented on #32
So I imagine there is a better way but I managed to get what I wanted by doing the following.

I simply copy and pasted the _layouts folder from this repository into my project folder. I then modified one line in the default.html file to read

`<p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile </a><br><a href="https://twitter.com/Jonnygfrazer">View My Twitter Profile </a

[2018-05-14 18:08] #27 closed

[2018-05-17 14:58] LAX18 opened #33 "Tables Not Working"
I tried to install this theme and the installation worked. However, my table that showed up on another theme just fine.

[2018-05-17 15:03] LAX18 commented on #33
Sorry, false alarm

[2018-05-17 15:03] #33 closed

[2018-05-25 02:31] quytelda opened #34 "<ul>s in the header shouldn't all be styled like download lists."
This issue has been brought up before: See Issue #19.

If a theme user tries to customize the theme by adding a new `<ul>` to the sidebar (the `<header>` section of `_layouts/default.html`), the theme will try to style the list like the three element downloads list.

The expected behavior would be for the `<ul>` to inherit the default body style (or some sane default), allowing the user to more ea

[2018-05-26 12:23] dxf opened #36 "How would I go about removing the "view on GitHub" page from the header of my site?"
For reference, my site is https://daf.lol.

My repo for my site is private cause I occasionally put private stuff on the site to send in emails, and the button being there is redundant.

Thanks!

[2018-05-26 12:31] dxf commented on #36
(I've tried "btn: false" in the _config.yml but that does nothing)

[2018-05-26 12:38] dxf commented on #36
wait fuck wrong theme LOL

[2018-05-26 12:38] #36 closed

[2018-05-27 16:05] #34 closed

[2018-05-29 09:46] #28 closed

[2018-06-22 15:40] #31 closed

[2018-07-01 19:48] #32 closed

[2018-07-05 14:26] mjgs opened #40 "bundle exec jekyll serve outputs error"
I followed the theme usage instructions and the site does not build after configuring the theme. There is a theme could not be found error. Did I miss something? How do I get the site to build with the theme configured?

[code]

[2018-07-06 17:34] sjackman opened #41 "Make the logo a link [feature request]"
I'd love for the logo to link to a page, perhaps with a `logo_url` parameter in the `_config.yml`. It'd be particularly useful when the logo is a CC-BY image from Wikipedia, so the image could link to the original source. As a workaround, I'm setting the `description` to the URL of the Wikipedia page.

[2018-07-12 11:28] technige opened #42 "Customisable wording for GitHub link"
For a user page, the GitHub link is behind the fixed wording "View My GitHub Profile". In our case, this wording (specifically the word "my") doesn't quite make sense as the profile is for an organisation, rather than a user.

Would it be possible to allow the wording to be customised for such links?

[2018-07-31 19:10] svoboda-rabstvo commented on #15
Please reopen it :)

[2018-08-28 13:09] hollowomnicron opened #45 "How is date used?"
On the Post layout, how do i add the date

[2018-08-30 11:19] ericytsang commented on #42
If you still want to change the wording:

1. create a file here `[project root]/_layouts/default.html`
2. copy the contents of [this repo's default.html](https://github.com/pages-themes/minimal/blob/master/_layouts/default.html) into it
3. now you'll have access to the html so you can modify the wording

[2018-09-03 11:20] wooriapt79 opened #46 "post.html in {{ page.author | default: site.author }}"
Q.<p class="view">by {{ page.author | default: site.author }}</p>

 {{ page.author | default: site.author }}
This item comes to import your data from anywhere.
Display is labeled only by.

**31 August 2018** - date
**metamask Setup**.-title
**by** - only by

[2018-09-10 15:37] #40 closed

[2018-09-11 18:27] #41 closed

[2018-10-05 03:02] ClydeDz commented on #45
@hollowomnicron,

You would need to add a `date` variable to the header of the page that's using the post layout.

For instance, in this repo, this page uses the post layout.
https://github.com/pages-themes/minimal/blob/master/another-page.md

So in the header of the page, you would edit the Front Matter to something like this -
[code]

More about [Front Matter here](https://jekyllrb.com/docs/fron

[2018-10-05 14:08] #45 closed

[2018-10-21 03:48] chendaniely opened #48 "Add ability for links in the side panel"
I really like the minimal feel this theme gives, but I've come across the need to create more `another-page.md` like pages to make the front page less cluttered. While the example `another-page.html` has a `back` link to get to the front page again, when there are multiple "pages" it would be nice to have them all in the side bar so the user does not need to constantly click `back` to go through a

[2018-10-26 15:28] wapyce opened #49 "Accessibility errors found in your template"
The user @carlsonsantana validate your site template "https://pages-themes.github.io/minimal/" and found these accessibility errors:
* Page https://pages-themes.github.io/minimal/:
  * Issue *7c9716ac-0cf1-4fbd-8e13-871ae1cfe88a*:
    * **Type**: Error
    * **Code**: WCAG2AA.Principle1.Guideline1_4.1_4_3.G18.Fail
    * **Message**: This element has insufficient contrast at this conformance level.

[2018-11-02 22:45] RaggedyCoder opened #50 "XML code preview breaking"
If I'm trying to preview an XML code snippets, The page design is breaking. please following the given instruction

\-\-\-
layout: default
\-\-\-
1\.   _Add the following:\_
\`\`\`xml
\<string name="test" translatable="false"\>TEST\</string\>
\`\`\`

The result is like below

<img width="507" alt="screen shot 2018-11-03 at 4 33 52 am" src="https://user-images.githubusercontent.com/9397052/47943926

[2018-11-05 14:15] #42 closed

[2018-11-09 14:05] #46 closed

[2019-01-12 19:42] #50 closed

[2019-03-19 14:00] infominer33 opened #55 "relative urls missing base url on project page"
I have a project page (`https://user.page/project`)

In my index.html if I make a link like so:

`<a href="/foo/">/foo</a>`

The link builds as `https://user.page/foo`

rather than `https://user.page/project/foo` (as expected)

I went so far as to add a base tag to the head.

`<base href="{{ site.url }}">`

---

I have other project pages that create the urls just fine, and I have the same setting

[2019-03-27 19:49] infominer33 commented on #55
probably an operator error, but I defined a custom variable to work around it

[2019-03-27 19:49] #55 closed

[2019-04-26 15:21] aschneiderman opened #57 "In Internet Explorer, font shows as Times Roman?"
I love the look of Minima in Google Chrome and Firefox. But in Internet Explorer 11, it appears to be displaying the font as Times new Roman. What's particularly weird is that when I used Internet Explorer's inspector, the font family look like it was showing up properly, and it included several fonts, such as Helvetica and Arial that IE certainly has.

Here's what it looks like with IE 11 on the

[2019-05-31 02:15] luissds82 opened #58 "Fenced code blocks not working"
I am using this theme but I would like to use fenced code blocks for code snippets in my page and it is not working. Nevertheless the {% highlight python %} ... {% endhighlight %} is working.

How to fix it?

Best,

Luis Santos

[2019-07-02 16:19] #57 closed

[2019-08-07 02:12] #58 closed

[2019-08-12 07:53] armsp commented on #48
It would be great if this is implemented.

[2019-10-07 07:12] ajwadjaved opened #61 "I made my website repository public to private and back to public and now its not loading"
Repository https://github.com/ajwadjaved/ajwadjaved.github.io
Website ajwadjaved.github.io, its giving me a 404 now

[2019-10-07 14:00] benbalter commented on #61
We can't speak to the specifics of your particular site. If you [contact GitHub support](https://github.com/contact) (or [post to the GitHub Community forum](https://github.community/)) they should be able to help you get things straightened out. 😸

[2019-10-07 14:00] #61 closed

[2020-01-28 11:34] poppyjones commented on #48
This can already be done by using html in the description section of _config.yml

[2020-01-28 12:06] armsp commented on #48
@poppyjones I don't think that is what description is intended for. Moreover, if you do it that way then it becomes hard-coded - everytime you add a file, you have to edit it manually.

[2020-01-30 17:03] armsp commented on #48
@chendaniely I forked the theme and made it display pages in the side panel. Have a look. Repo [here](https://github.com/armsp/minimally). Live [demo](https://armsp.github.io/minimally/).

[2020-02-03 15:17] enryH opened #65 "Setting site.github.is_project_page"
Is it possible to modify in the `_config.yml` or jekyll Front Matter the setting for `site.github.is_project_page` in order to modify the behaviour of the website-building in [`_layouts/defaut.html`](https://github.com/pages-themes/minimal/blob/master/_layouts/default.html)

I tried several combination, but did not get it to work. Thanks in advance!

[2020-04-11 04:14] #65 closed

[2020-04-16 08:50] edouard-lopez commented on #65
see: https://github.com/pages-themes/cayman/issues/29#issuecomment-339016299

[2020-04-28 11:09] geira opened #67 "Please make themes GDPR compliant"
Really like these themes, but currently cannot use them as they contain Google Analytics tracking. According to [a ruling in the The Court of Justice of the European Union](https://piwik.pro/blog/cjeu-trackers-consent-requirements/) (CJEU) in November 2019, "analytics and tracking"[ is considered non-necessary cookies](https://adzerk.com/blog/gdpr-google-analytics/) and so requires opt-in consent

[2020-04-28 12:28] geira commented on #67
It seems that this is already implemented, sorry for the confusion.
`{% if site.google_analytics %}`

[2020-04-28 12:28] #67 closed

[2020-05-15 01:42] vipasu opened #71 "Header and footer overlap with short and wide browser window"
Hi,

Just wanted to share that sometimes the header and footer can display on top of each other in a desktop browser. When the window becomes narrow enough, it switches to single column display. However, if you just make the window shorter, it keeps the 2 column format and the header and footer can overlap.

Best,
Vincent

[2020-05-16 10:12] schlamar commented on #71
Screenshot:

![image](https://user-images.githubusercontent.com/238652/82117117-6da5ca80-976e-11ea-9ca5-9caf66887eaf.png)

[2020-05-18 03:34] RylanSchaeffer commented on #41
Was this ever enabled?

[2020-05-18 04:22] RylanSchaeffer opened #72 "Using Multiple default.html pages?"
This is probably a misuse of an issue, but I want to add custom links to the left side of the index Markdown page. I discovered that I can create a `_layouts/default.html` file, which works well. However, I'd also like to have different pairings of markdown files and default.html files. Is there a way to do this? Can I specify for a particular markdown file which corresponding default.html I want

[2020-05-21 07:12] tildehacker commented on #71
I submitted a pull request (#76) that fixes this issue.

If you want to use this fix before it gets merged, replace:

[code]

by

[code]

in your `_config.yml` file. `e0ea159aa5b010093640f661c8c8a05677540c0a` is a reference to the branch that contains the fix of this issue (I used `git show-ref | grep fix/overlapping-header-and-footer` to get the reference).

[2020-06-09 06:03] brasofilo commented on #72
If I'm getting you right, it would be a new layout: https://jekyllrb.com/docs/layouts/

Add your custom file `_layouts/mypage.html` and then on the markdown file, you'd have the header:

[code]

[2020-07-10 10:50] navendu-pottekkat opened #78 "I do not have a index.html file. I only want to host my readme file"
I do not have a index.html file. I only want to host my readme file. How would I do that?

Simply adding this theme on GitHub pages is not working

[2020-07-27 08:50] #71 closed

[2020-08-15 10:45] dipuakhando opened #80 "bdbetincity"

[2020-08-15 10:45] dipuakhando commented on #80
woilcom

[2020-08-15 10:46] dipuakhando commented on #80
game and beting sports

[2020-08-16 07:52] #72 closed

[2020-09-01 15:35] SiddhanthNB opened #81 "How to add .png file into the logo section of the minimal theme of github pages?"

[2020-09-01 15:38] SiddhanthNB commented on #81
While I was setting up Github pages using minimal themes, I was unable to add a picture to the logo part of the template. Can I how to add a picture there?

[2020-09-03 01:54] redawl commented on #81
Add this line to the projects _config.yml:
logo: relativepathtopng

Example:
logo: cat.png

[2020-09-04 00:30] BDHU opened #82 "Strange posts layout on mobile devices when code blocks are present"
Here are two examples. Here is a link to one of my posts: [post_1](https://bodunhu.com/2020/2020/09/01/Exokernel.html).
As you reduce the width of the browser window the contents of the post is correctly pushed into new lines.

Here is another example: [post_2](https://bodunhu.com/2019/2019/01/15/gpumemoryhierarchy.html).
If we reduce the window width we can see that some contents are not pushed t

[2020-09-04 01:00] BDHU commented on #82
Apparently I modified the` jekyll-theme-minimal.scss` which caused this issue. I figured out which line caused the headache. Close this issue now.

[2020-09-04 01:00] #82 closed

[2020-09-04 06:52] SiddhanthNB commented on #81
Thank you.

[2020-09-04 06:52] #81 closed

[2020-09-14 15:03] #80 closed

[2020-09-20 03:46] #78 closed

[2020-09-20 17:59] shoumikchow commented on #67
The opt-in consent bar doesn't actually show up.

[2020-10-02 22:47] jfparisi opened #86 "Adding LaTeX support"
Dear Minimal theme,

I would love to see LaTeX support for the theme; this would be extremely helpful for writing equations in text. I have attempted to write code in my own branch of minimal to implement MathJax, as per the instructions here: http://sgeos.github.io/github/jekyll/2016/08/21/adding_mathjax_to_a_jekyll_github_pages_blog.html

Unfortunately, my implementation was not successful; I am

[2020-10-21 11:10] omerayyildiz opened #88 "Google Analytics"
How can I add google analytics to my page?

Although I added an analytics.html file into the _includes folder and linked it to the config.yml file but google could not pull any data.

my page: https://omerayyildiz.com/nishgt
my repository: https://github.com/omerayyildiz/nishgt

[2020-10-21 17:45] pedrominicz commented on #88
You can add by setting `site.google_analytics` in `_config.yml`.

[2020-10-22 16:59] omerayyildiz commented on #88
i did that but it didn't work
![image](https://user-images.githubusercontent.com/34156233/96905273-e9840b80-14a0-11eb-9335-61eee8cc0596.png)
![image](https://user-images.githubusercontent.com/34156233/96905303-f30d7380-14a0-11eb-9a42-aaca388ed37a.png)

[2020-10-22 17:23] pedrominicz commented on #88
`site.` is implicit in `_config.yml`. Change your `_config.yml` as follows:
[code]

[2020-10-22 17:56] omerayyildiz commented on #88
Not working :/
![image](https://user-images.githubusercontent.com/34156233/96911009-f3aa0800-14a8-11eb-9a18-f81e49a868d9.png)

[2020-10-24 15:55] #88 closed

[2020-11-02 09:56] zachsa opened #90 "Allow for hiding the "View the Project on GitHub" button"
Hi,

I'm using this theme for a private repo, and would like to disable the "View the Project on GitHub" button. Is there a way to do this?

[2020-11-08 06:56] ArnavMotwani opened #91 "How can add links to the bar on the side."
I am using the minimal them in a couple simple repos. I want to add links to each page on the side of the page (above the "View the project on GitHub" button but below the logo. How can I do this?

[2020-11-09 15:58] MatBenfield commented on #91
You should be able to do this by using the template file see the notes below

https://github.com/pages-themes/minimal#layouts

[2020-11-09 16:00] MatBenfield commented on #90
@zachsa have a look at this section of the help https://github.com/pages-themes/minimal#layouts if you make your own copy of the template, you add some variables to the config and do some if statements to show/hide

[2020-11-10 13:22] zachsa commented on #90
Thanks for the reply! I saw in the docs that you can pass custom scss, and I was able to hide stuff that way.

[2020-11-10 13:22] #90 closed

[2020-11-22 13:56] mmvanheusden commented on #88
The problem is caused by Google Analytics 4

[2020-11-22 17:29] omerayyildiz commented on #88
What's problem in Google Analytics 4?

[2020-12-06 07:22] innomadic opened #93 "Floating Footer covers content"
I am using the theme via GitHub pages and notice that the page footer is effectively floating on top of my page content - meaning that the text of my content and the footer are illegible.

The footer is this:
"This page was generated by GitHub Pages. "

Is this the intended design?

[2020-12-09 15:30] innomadic commented on #93
Sorry I think this was due to a template I had included.  Closing.

[2020-12-09 15:30] #93 closed

[2020-12-09 21:45] szunami opened #94 "Tags check doesn't appear to work"
https://github.com/pages-themes/minimal/blob/master/_layouts/post.html#L12

On my blog, I was observing a post that had 0 tags (no `tag` in the frontmatter), yet the tags showed up on the page with an empty string.

I believe Jekyll is loading a single tag with value equal to "".

In my blog, I switched this check to be:

{% if page.tags[0].size > 0 %}

I am happy to contribute this to this projec

[2020-12-26 12:25] Jwmc999 opened #95 ".github/workflows/ci.yaml"
Hi,

I found an issue from ci.yaml as below:

Run script/bootstrap
/home/runner/work/_temp/63854597-b0cf-41b3-a7a5-dc2b0c4df45f.sh: line 1: script/bootstrap: Permission denied
Error: Process completed with exit code 126.

Any advice on how I can eliminate this error?

Thank you

[2021-01-05 17:24] mvolfik opened #97 "Default font doesn't support some characters - how to change it with scss?"
I realized that the default font for the title (Noto Sans Bold) doesn't support some characters (namely 'ě'). Is there a way to replace this font completely with my own with scss, or do I need to manually set it on the elements where it's used?

[2021-01-05 17:33] mvolfik commented on #97
Oh nevermind, after looking into the sources, I see that it's only defined on `body`, so I only need to override it there. I got confused and thought that this theme uses multiple fonts because my browser showed multiple, as a result of replacing unknown glyphs.

[2021-01-05 17:33] #97 closed

[2021-01-20 16:36] ChristopherBull commented on #88
I am experiencing this issue too. When you create a new account/property in Google Analytics, it defaults to Google Analytics 4 which (as I understand it) is not backwards compatible with previous collection JS files from before Nov 2020.

The problem (and solutions) with Google Analytics 4 in Jekyll themes are summarised in other similar repositories, e.g.:

- https://github.com/jekyll/minima/iss

[2021-02-02 04:25] PeiyuChen1005 opened #98 "Maybe a little bug occured(?"
Dear developers, I found that when the image we choose in _config.yml(logo: /assets/img/xxxxx.jpg) is too long, the 'View My GitHub Profile' botton and 'orderedlist' button will overlap and the 'View My GitHub Profile' botton cannot be clicked. Maybe this is a bug? Or just I made the settings wrong?

[2021-02-23 10:59] mosaicgeospatial commented on #88
For anyone else having this problem, here is how I solved it.
Add your google analytics tag to _config.yaml as stated previously:
`google_analytics: G-XXXXXXXXXX`

Make your own _layouts/default.html file - copy the contents from the same file in the minimal repository:
[https://github.com/pages-themes/minimal/blob/master/_layouts/default.html](https://github.com/pages-themes/minimal/blob/master/_

[2021-02-23 17:45] mmvanheusden commented on #88
@mosaicgeospatial Could you open a pull request for this?

[2021-02-26 12:46] pedrominicz commented on #88
I created a pull request with @mosaicgeospatial's changes. Also, @omerayyildiz, please keep the issue opened until it has been fully resolved.

[2021-03-24 19:41] ldemailly opened #101 "dark mode (auto) toggle?"
It'd be awesome if `minimal` would support

@media (prefers-color-scheme: light | dark)

and/or have an explicit toggle for users

and/or have a _config.yaml option

Thanks!

[2021-03-30 07:40] glowkeeper commented on #91
Yeah, but how? I can see how to create direct links, but I'd like to create a navigation menu, say `menu.md`, then do something like `{{ menu }}` in the header section. Is something like that possible?

[2021-04-05 06:06] coder-lg opened #102 "Icon adding guide needed"
I wanna add an icon to my site, but it doesn't accept it. I got a 32x32 image on Github, and theme is minimal. But, my site is in Cayman right now and the icon is making it crash. Can you tell how to solve this error? Must I use an ico file?

[2021-04-05 06:09] coder-lg commented on #102
Also, the image size is 50x65

[2021-04-09 15:56] fabian-stoeckl opened #104 "width of right frame"
Is there a way to decrease the size of the left frame (containing the logo) and increase that of the right frame?

I played around in "jekyll-theme-minimal.scss" with the following width values:

header {
  width:270px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

---------

 header {
    padding-right:320px;
  }

---------

section {
  width:500px;
  float:rig

[2021-04-12 23:38] innawy opened #105 "required_ruby_version in gemspec"
Hi! I came across the below offense during the build process of script/cibuild. I'm not sure how to fix this.

[code]

I have tried adding the line below in jekyll-theme-minimal.gemspec, however which required ruby version should I be using?
`s.required_ruby_version       = '2.4.0'`

Thank you!

[2021-04-16 21:18] johnodonnell123 opened #107 "Adjusting Width of page"
How do I adjust the total width of the page, removing some of the buffer/whitespace on each side?

![Example Image](https://user-images.githubusercontent.com/59580420/115085039-641d6900-9ecf-11eb-9977-4b0b758dcaea.PNG)

[2021-04-17 12:35] #107 closed

[2021-04-20 11:29] DAK404 commented on #101
+1, would love to have this theme with dark mode!

[2021-04-30 12:10] MuhammadWasif opened #108 "How do I specify the address of home page md file?"
I am deploying through GitHub Pages. In main branch, I have `docs` folder. It's deploying the website through doc folder. But I have to copy the `README.md` from root to `/docs`.
Can I specify the home page of website in yml file?
`home-page: ../README.md` something like this?
because currently it is taking `index.md` of the folder (that has `_config.yml`) as home page. How can I change this?

[2021-05-17 09:43] YakobovLior opened #110 "Changes to /assets/css/style.scss not affecting page"
Hello,

I'm trying to override the widths of both **wrapper** and **section** tags, and my **style.scss** file looks like this:
[code]

For some reason I can't make the changes affect, and thus increasing the widths of the page.
What am I missing, do I have some configuration issue here?

Thanks,
Lior

[2021-05-17 09:50] YakobovLior commented on #110
I figured out now that since I configured root folder for page under **docs**, I had to put **assets** folder inside **docs** folder to make it work.

[2021-05-17 09:50] #110 closed

[2021-05-18 04:50] BDHU commented on #101
+1

[2021-05-25 14:28] JacobBumgarner commented on #110
This still isn't affecting my page unfortunately.  I'm building from root rather than /docs/ but can't get implement any alterations made by my styles.scss file.

[2021-05-26 05:41] zhangxinyu-xyz opened #111 "The homepage not change"
Hi developers,

I modified the _site/index.html and index.md by myself. I run "bundle exec jekyll serve" to start the preview server and it looks good. However, when I git push these changes, the homepage is not changed. Do you know how can I solve it?

[2021-05-27 00:33] BDHU commented on #111
Github page takes a while to build. Did you see any changes after some time? Or did you receive any error messages during building?

[2021-05-27 01:56] zhangxinyu-xyz commented on #111
Thanks. I have fixed it.

[2021-05-27 01:56] #111 closed

[2021-06-01 14:49] alecpetrosky commented on #101
+1 just thought about the same thing.

[2021-06-12 12:18] godalming123 commented on #101
please give us dark theme

[2021-06-28 06:21] #98 closed

[2021-07-16 00:40] Saipraneet commented on #104
@fabian-stoeckl, I am trying to edit the width of my right frame to make it wider on PC, but can't seem to to figure out how. Any help is greatly appreciated!

Following the README,  I created an `assets/css/styles.css` file with the following code:

[code]

This did not result in any change at all though. I also tried moving the wrapper and section code before the `@import`, but this did not matt

[2021-07-16 21:03] fabian-stoeckl commented on #104
Sorry, back then I just tried around until it worked. But I can't remember.
________________________________
From: Sai Praneeth Karimireddy ***@***.***>
Sent: Friday, July 16, 2021 2:41:08 AM
To: pages-themes/minimal ***@***.***>
Cc: fabian-stoeckl ***@***.***>; Mention ***@***.***>
Subject: Re: [pages-themes/minimal] width of right frame (#104)

@fabian-stoeckl<https://emea01.safelinks.protection

[2021-07-23 19:14] dpuelz opened #115 "issue with scss file -- import not found or unreadable: minimal"
hey folks, I'm getting the following error:

Your SCSS file `assets/css/style.scss` has an error on line 12: File to import not found or unreadable: minimal. Load path: /tmp/jekyll-remote-theme-20210723-6-pise0o/_sass. For more information, see https://docs.github.com/github/working-with-github-pages/troubleshooting-jekyll-build-errors-for-github-pages-sites#invalid-sass-or-scss.

The only thing I

[2021-07-23 19:15] dpuelz commented on #115
here is the updated error:

Your SCSS file `assets/css/style.scss` has an error on line 1: File to import not found or unreadable: minimal. Load path: /tmp/jekyll-remote-theme-20210723-7-1lrxn5f/_sass. For more information, see https://docs.github.com/github/working-with-github-pages/troubleshooting-jekyll-build-errors-for-github-pages-sites#invalid-sass-or-scss

there appears to be something wron

[2021-07-23 20:30] pcunning commented on #115
I'm seeing this issue as well.

[2021-07-23 20:56] wainwrighth commented on #115
Adding that I'm seeing it for visibility. Also switched to the cayman jekyll remote theme to see if the issue persisted and it failed with the same error

[2021-07-24 07:36] kmyk opened #116 "The instruction to preview on a local computer doesn't work"
For a local preview, the Usage section of README.md says to use `theme: jekyll-theme-minimal` and `gem "github-pages", group: :jekyll_plugins`. However, this doesn't work with an error `jekyll 3.9.0 | Error:  The jekyll-theme-minimal theme could not be found.`. This seems to be caused by `pages-gem`'s pull request https://github.com/github/pages-gem/pull/772.

[2021-07-24 14:08] AnonyPla commented on #116
See https://github.com/pages-themes/cayman/issues/130#issuecomment-886056882

[2021-07-24 14:08] AnonyPla commented on #115
See maybe https://github.com/pages-themes/cayman/issues/130#issuecomment-886056882

[2021-07-24 17:06] dpuelz commented on #115
hard coding *jekyll-theme-minimal* in the scss file fixed the issue, but it's kind of a workaround.  Here's the new beginning of the file.

---
---

@import 'jekyll-theme-minimal';

[2021-07-26 18:49] parkr commented on #115
#118 added a file called `minimal.scss`. Feel free to update your `_config.yml`:

[code]

[2021-07-26 18:52] AnonyPla commented on #115
https://github.com/pages-themes/cayman/issues/131#issuecomment-886092689

[2021-07-26 20:29] #116 closed

[2021-07-28 01:43] parkr commented on #115
Hello! This should now be fixed in v217 of the `github-pages` gem!

[2021-07-28 01:43] #115 closed

[2021-07-28 01:43] parkr commented on #105
Hello! I have resolved this on the `master` branch. Thanks!

[2021-07-28 01:43] #105 closed

[2021-07-28 01:49] parkr commented on #86
Hi! You can now add MathJax by copying [`_includes/head-custom.html`](https://github.com/pages-themes/minimal/blob/master/_includes/head-custom.html) into your site at `_includes/head-custom.html` and customizing it as you wish! This will all be added to the `<head>` tag.

[2021-07-28 01:49] #86 closed

[2021-07-28 01:49] parkr commented on #95
Hi! It looks like this has been fixed – sorry about that!

https://github.com/pages-themes/minimal/actions

[2021-07-28 01:49] #95 closed

[2021-07-28 01:51] parkr commented on #102
You can set a favicon by copying `_includes/head-custom.html` from this repo to your site (at the same path in your site) then customizing. Here is the Mozilla Developer Network documentation on favicon, which includes information about formats: https://developer.mozilla.org/en-US/docs/Glossary/Favicon

[2021-07-28 01:51] #102 closed

[2021-07-28 01:54] parkr commented on #108
Hi, unfortunately if you set your Pages source to `/docs`, then your entire site must be in that directory. You can write in to support@github.com to suggest this feature, but in general you need to have the whole site in one place.

[2021-07-28 01:54] #108 closed

[2021-07-28 02:31] coder-lg commented on #102
Already solved, but thanks for the suggestion, I will try it :)

[2021-08-18 15:37] godalming123 commented on #101
I am working on dark theme see my example https://godalming123.github.io/minimal/ or check-out my fork https://github.com/godalming123/minimal also the dark mode is based on your device theme so switch it up to dark!

[2021-08-20 11:09] godalming123 commented on #91
yes it is create a html file in _includes folder fo whatever you want to put in the header then in _layouts edit deafualt.html file and in the body tag paste `{% include name_of_file.html %}`

[2021-08-20 17:08] BDHU commented on #91
Something like [this](https://www.bodunhu.com/)? FYI, the code is [here](https://github.com/BDHU/bdhu.github.io/blob/master/_layouts/default.html#L50). Feel free to use the modified [theme](https://github.com/BDHU/minimalist)

[2021-08-21 07:17] godalming123 commented on #101
@parkr can you assign me to this issue or make me a collaborator so I can assign myself

[2021-08-22 17:09] solvaholic commented on #91
Oh I like that @BDHU !

@glowkeeper I think you're asking about step 5 in [the instructions @MatBenfield linked](https://github.com/pages-themes/minimal/tree/814b8723af0aa0ada9b5784da6b73d862bb74150#layouts).

Yes. If you put `menu.md` in your site's `_includes` directory then you can include it the same way `_layouts/default.html` includes `_includes/head-custom.html`:

https://github.com/pages-t

[2021-08-22 19:29] solvaholic commented on #91
@ArnavMotwani @glowkeeper in case it'll help, I set up a demo:

https://solvaholic.github.io/reimagined-fortnight/

The repository's commit history explains the steps I took:

https://github.com/solvaholic/reimagined-fortnight/commits/main

This weekend I set out to add dark mode to a Minimal-themed Pages site, and got so much more. https://github.com/BDHU/bdhu.github.io is fantastic! :bow:

[2021-08-22 19:33] BDHU commented on #101
I incorporated many contributions from @godalming123 to my own [website](https://www.bodunhu.com/) and the result looks fantastic. Big thumbs up to @godalming123 and this feature should be added.

[2021-08-23 04:09] ELEVENStudio-Main opened #122 "Help about logo"
How can I add a logo?

[2021-08-23 04:10] #122 closed, assigned to nobody

[2021-08-23 06:49] godalming123 commented on #101
so happy to see people liking my fork!

[2021-08-26 10:39] godalming123 commented on #91
did you use my fork for dark mode with a minimal theme (https://github.com/godalming123/minimal) ? Your first example has the exact same colors. If you did use my fork I'm amazed to see 2 people adopt it already!

[2021-09-14 20:13] uyencfi commented on #107
Did you find a way to do this? Thanks.

[2021-09-15 13:14] johnodonnell123 commented on #107
I did, thank you

John ODonnell
936-537-0533

[2021-09-15 13:22] uyencfi commented on #107
@johnodonnell123 I'm having this problem too. Can you show me how you did it? Thank you!

[2021-09-15 21:21] BDHU commented on #107
Beware @johnodonnell123 's solution might fix the width issue but when the browser window is narrower contents in the right column may overlap with the sidebar. If that's not a problem just play with the width elements in the [jekyll-theme-minimal.scss](https://github.com/pages-themes/minimal/blob/master/_sass/jekyll-theme-minimal.scss) file.

![demo](https://user-images.githubusercontent.com/9762

[2021-09-18 12:29] mambax commented on #104
If you still need it, I made it work:
https://github.com/mambax/mambax/blob/a6c364c0a0866b8d422446f44eb5207315636951/assets/css/style.scss#L1

Pay attention, the double lines

[code]

are needed, otherwise it does not apply.

[2021-10-11 07:44] BrazilianSoilsMicrobiome opened #125 "Add index.html file instead of index.md file and keep the two columns"
Hi, I am quite new to creating webpages, but is it possible to add a index.html and don't lose the two columns style of minimal? Many thanks in advance.

[2021-10-19 16:50] BrazilianSoilsMicrobiome commented on #125
Got it guys. I just need to start the index.html with the following three lines:
[code]
I guess this is just my lack of practice with Jekyll, but this information could be in the README.
Cheers,
Daniel

[2021-10-19 16:50] #125 closed, assigned to nobody

[2021-11-28 20:17] ghost commented on #101
+1

[2021-12-21 17:15] godalming123 commented on #101
I have finished work on my fork: https://github.com/godalming123/minimal

[2021-12-25 20:21] davorpa commented on #104
I recomend use media queries to adress with this kind of things.

Take a look at:
- https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries
- https://css-tricks.com/a-complete-guide-to-css-media-queries/

[2021-12-25 20:25] davorpa commented on #101
Thanks @godalming123 for your great effort

[2022-01-21 14:35] sonictl opened #155 "How to change theme from default `minima` to this?"
Hello, I'm a newbie of jekyll blog system. I created blog folder by:

`cd ~`
`jekyll new myBlog`
`bundle install`
`bundle exec jekyll serve`

So I can preview the website at `127.0.0.1:4000`

**However, when I try to change the default `minima` theme by following the [readme.md](https://github.com/pages-themes/minimal/blob/master/README.md). I met errors when running `jekyll serve` command.**

In

[2022-01-28 19:27] matanyall opened #159 "How to add Favicon to your site?"

[2022-01-28 19:27] matanyall commented on #159
I'm trying to add a favicon to my site, and it's not working. How do I do it?

[2022-01-29 08:06] BDHU commented on #48
Well here's another [theme](https://github.com/BDHU/minimalist) I modified on top of the theme and here's a [demo](https://www.bodunhu.com/)

[2022-01-29 19:37] BDHU commented on #159
You need to uncomment the corresponding line in [_includes/head-custom.html](https://github.com/pages-themes/minimal/blob/master/_includes/head-custom.html). For e.g. [here](https://github.com/BDHU/bdhu.github.io/blob/master/_includes/head-custom.html)

[2022-02-24 02:54] sarah-peacock opened #167 "[Bug] Large Image - Broken"
## Bug description

## Expected outcome

## Steps to reproduce

## Technical info

###  What device were you using when you encountered the bug?

### What operating system were you using? What version is the operating system?

### What web browser were you using? What version is the web browser?

### Assistive technology and version (optional)

## Additional information

## Image - Screenshot
<img

[2022-04-25 13:45] reportMPIBI commented on #95
Hi,

I see the same error occurring:
/home/runner/work/_temp/e8f0d6a3-7d85-4cb1-af22-7705baea92a8.sh: line 1: script/bootstrap: Permission denied
Error: Process completed with exit code 126.

Any advice on how I can fix this?

Thanks a lot

[2022-04-25 14:26] reportMPIBI opened #184 "error ci.yaml - exit code 126"
Hi,

I have an issue from ci.yaml as below:

Run script/bootstrap
/home/runner/work/_temp/63854597-b0cf-41b3-a7a5-dc2b0c4df45f.sh: line 1: script/bootstrap: Permission denied
Error: Process completed with exit code 126.

This error was reported and closed before (#95), but I still run into this issue.

Any advice on how to solve this?

Thank you so much for your help

[2022-06-01 16:32] dgreene1 commented on #93
I've noticed that this occurs as well. I think it's just not noticeable until you do something that shrinks the vertical space like opening the chrome dev tools on the bottom.

[2022-06-01 16:34] dgreene1 opened #192 "Footer floats over side content"
I've discovered the same thing as this other issue (https://github.com/pages-themes/minimal/issues/93) so I'm making a new issue since that one is closed.

Reproduction steps:
1. add a large image for the logo so that the issue is more apparent
2. open Chrome dev tools as a bottom panel

Expected results:
1. the footer doesn't show up on top of the logo

Action results:
1. the footer text is seen

[2022-06-09 18:04] DOzernyi commented on #104
The solution given [here](https://github.com/mambax/mambax/blob/a6c364c0a0866b8d422446f44eb5207315636951/assets/css/style.scss#L1) which was cited above didn't work for me, unfortunately. Incorrect layout for mobile devices persisted.
It seems it's better not to touch css/style which imports settings from the jekyll css file in _sass. What worked was to go to that css and change settings for wrapp

[2022-06-10 17:34] BDHU commented on #104
Check my [demo](https://www.bodunhu.com/) here. I modified this theme and put it in another [repo](https://github.com/BDHU/minimalist).  Checking the changes [here](https://github.com/BDHU/minimalist) and [here](https://github.com/BDHU/minimalist/blob/main/_sass/jekyll-theme-minimalist.scss#L177).

[2022-06-17 01:17] gmgchow commented on #155
@sonictl Did you ever resolve this issue? I am running into the same problems so it would be helpful if you could share your solution!

[2022-06-17 02:50] sonictl commented on #155
I tried, but finally give it up.  Fiddling with this problem can lead to new problems or even breakdown of the blogging system. Considering the high cost, let it go.

[2022-06-25 08:03] vaibhavvikas commented on #91
This feature should be merged into the main branch. This is one of the most important features if we require to create documentation. Let's say we want navigation on the page, we can simply add desired items on the sidebar, and the users can simply navigate.

[2022-06-25 08:14] godalming123 commented on #91
If you are going to use minimal I would recommend using [BDHU's fork](https://github.com/BDHU/minimalist) it's mostly the same but adds dark mode and is still maintained

[2022-06-27 05:58] vaibhavvikas commented on #91
Thanks for the suggestion. I created my template based on minimal, using the minimalist theme by BDHU to add Navigation on the sidebar.

https://vaibhavvikas.github.io/jekyll-theme-minimalistic/

[2022-10-10 17:24] zakraicik opened #225 "yml arguments"
yml not picking up theme?

Are the yml arguments correct?

https://zakraicik.github.io/

[2022-10-21 13:58] aymeric75 opened #228 "Updated the _config.yml file, but no change seen on front-end"
Hello,

I added `remote_theme: pages-themes/minimal@v0.2.0` to the __config.yml_ file, but then, when I reload my [homepage](aymeric75.github.io), I don't see any change... I also ran "bundle" at the root the project, but same..

Any idea ?

Thanks

[2022-11-17 19:15] iglesiasbrandon opened #246 "How do you link to 'another page' from '_layouts/default.html' section of the theme?"
Hello, I wanted to ask for an example of how you could link to another page from  '_layouts/default.html' section of the template.

I want to create a vertical navigation bar in the '_layouts/default.html' of my site so that people can navigate to other pages more efficiently.

The screenshot below shows an example of what I'm trying to accomplish:

<img width="971" alt="Screen Shot 2022-11-17 at

[2022-11-21 21:06] iglesiasbrandon commented on #246
figured it out!

[2022-11-21 21:06] #246 closed, assigned to nobody